@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Playfair+Display:700i|Didact+Gothic");
html,
body {
    overflow: hidden;
    background: #484848;

    font-family: monospace;
    font-family: "Roboto", sans-serif;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-size: 30px;
    line-height: 1;
}
h3 {
    font-weight: lighter;
}

section {
    color: white;
    max-width: 275px;
    width: 100%;
    display: none;
    font-size: 14px;
}
p {
    color: rgba(255, 255, 255, 0.5);
}
a {
    color: white;
}

span.low {
    color: skyblue;
}
.btn-group {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
    padding: 50px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}
.btn-group span {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
    background: white;
    color: white;
    text-align: center;
    display: flex;
    -webkit-display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#VR {
    position: fixed;
    top: 20px;
    right: 20px;
    outline: none;
    border: none;
    width: 60px;
    height: 40px;
    z-index: 100;
    background: rgba(135, 206, 250, 0.75);
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    visibility: hidden;
}

#VR svg {
    width: 60px;
    height: 35px;
    transform: scale(2);
    -webkit-transform: scale(2);
    fill: white;
}
button {
    background: none;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 1100px) {
    section {
        display: block;
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
}

/* Show only on touchscreen devices */
@media (pointer: coarse) {
    .btn-group,
    #VR {
        visibility: visible;
    }
    .hide {
        visibility: hidden;
    }
}

/*----------bootstrap-navbar-css------------*/
.navbar-logo{
    padding: 15px;
    color: #7a7a7a;
}
.navbar-mainbg{
    background-color: #070707;
    padding: 0px;
}
#navbarSupportedContent{
    overflow: hidden;
    position: relative;
}
#navbarSupportedContent ul{
    padding: 0px;
    margin: 0px;
}
#navbarSupportedContent ul li a i{
    margin-right: 10px;
}
#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}
#navbarSupportedContent ul li a{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
    color: #000000;
    background-color: transparent;
    transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}
.hori-selector{
    display:inline-block;
    position:absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #484848;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #484848;
    bottom: 10px;
}
.hori-selector .right{
    right: -25px;
}
.hori-selector .left{
    left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
}
.hori-selector .right:before{
    bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
    bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}


@media (max-width: 991px){
    #navbarSupportedContent ul li a{
        padding: 12px 30px;
    }
    .hori-selector{
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 25px 0 0 25px;
    }
    .hori-selector .left,
    .hori-selector .right{
        right: 10px;
    }
    .hori-selector .left{
        top: -25px;
        left: auto;
    }
    .hori-selector .right{
        bottom: -25px;
    }
    .hori-selector .left:before{
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before{
        bottom: -25px;
        left: -25px;
    }
}
